* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.slider {
  max-width: 800px;
  height: 400px;
  position: relative;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider-item,
.hidden {
  display: none;
}
.active {
  display: block;
}
.slider-btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider-btns button {
  font-size: 30px;
  font-weight: 500;
  background-color: rgb(128, 121, 121);
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
